@use '../../styles/partials/typography.scss';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video-list {
  @include page-side-padding-mobile;
  
  @include tablet {
    @include page-side-padding-tablet;
  }

  @include desktop {
    @include reset-padding-margin;
  }

  &__title {
    border-top: 1px solid $color-seondary-BrainFlix-Mercury;
    color: $color-primary-BrainFlix-Silver;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
}