@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin page-side-padding-mobile {
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin page-side-padding-tablet {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

@mixin page-side-padding-desktop {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

@mixin reset-padding-margin {
  margin: 0rem;
  padding: 0rem;
}

@mixin reset-height-width {
  width: 0rem;
  height: 0rem;
}
