@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.avatar {
  background-color: $color-seondary-BrainFlix-Mercury;
  background-image: url("../../assets/images/Mohan-muruge.jpg");
  background-size: cover;
  background-position: left;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}

.avatarDefault {
  background-color: $color-seondary-BrainFlix-Mercury;
  background-size: cover;
  background-position: left;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}