$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$color-primary-BrainFlix-Black: #323232;
$color-primary-BrainFlix-Blue: #0095FF;
$color-primary-BrainFlix-Silver: #AFAFAF;
$color-primary-BrainFlix-White: #FFFFFF;

$color-seondary-BrainFlix-DarkBlack: #000000;
$color-seondary-BrainFlix-DarkBlue: #0065AD;
$color-seondary-BrainFlix-Mercury: #E1E1E1;
$color-seondary-BrainFlix-Alabaster: #FAFAFA;
